# Java build outputs
**/target/
*.class
*.jar
*.war

# Node/Next.js dependencies and builds
**/node_modules/
**/.next/
**/out/
.pnp
.pnp.js

# Environment variables
.env*.local
.env.local
.env.production
.env.development

# Logs and databases
*.log
*.sqlite

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
